@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TicketHive.Client.Services;
@inject NavigationManager Navigation
@inject AuthenticationStateProvider authenticationStateProvider
@inject IUserService _service
@attribute [Authorize(Roles = "Admin")]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TicketHive</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" Match="NavLinkMatch.All">
                <button class="btn text-decoration-none text-white" @onclick="NavigateToHome"><i class="fa-solid fa-house-chimney me-2" style="color: #fbe89c"></i>Home</button>
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <button class="btn text-decoration-none text-white" @onclick="NavigateToAllEvents"><i class="fa-solid fa-ticket me-2" style="color: #fbe89c"></i>Events</button>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <button class="btn text-decoration-none text-white" @onclick="NavigateToShoppingCart"><i class="fa-solid fa-cart-shopping me-2" style="color: #fbe89c"></i>Shopping cart</button>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink title="My settings" class="nav-link">
                        <button class="btn text-decoration-none text-white" @onclick="NavigateToSettings"><i class="fa-solid fa-gears me-3" style="color: #fbe89c"></i>Settings</button>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" title="Log out">
                        <button class="btn text-decorationd-lg-none text-white" @onclick="BeginLogOut"><i class="fa-solid fa-right-from-bracket me-3" style="color: #fbe89c"></i>Log out</button>
                    </NavLink>
                </div>
            </Authorized>
         </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="OOF">
                        <span class="oi oi-cog" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private async Task<bool> IsUserInRole(string role)
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        return user.IsInRole(role);
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
