@page
@model TicketHive.Server.Areas.Identity.Pages.Account.LoginModel
@{
}


<div class="card TicketHiveTheme">
    <div class="card-header">
        Login:
    </div>
    <div class="card-body justify-conten    t-center">
        <form method="post">
            <input type="text" asp-for="Username" placeholder="Username" />
            <hr />
            <input type="password" asp-for="Password" placeholder="Password" />
            <hr />
            <input type="submit" value="Login" />
        </form>

        @if (!ModelState.IsValid)
        {
            <span asp-validation-for="Username"></span>
            <br />
            <span asp-validation-for="Password"></span>
        }
        else
        {
            <span>@Model.InvalidCredentials</span>
        }
    </div>
</div>