    @page
@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@using TicketHive.Server.Enums;
@model TicketHive.Server.Areas.Identity.Pages.Account.RegisterModel

<h1>Welcome to the register Page!!</h1>

<div class="row">
    <form method="post">
        <input type="text" asp-for="Username" placeholder="Username" />
        <input type="password" asp-for="Password" placeholder="Password" />
        <input type="password" asp-for="RepeatPassword" placeholder="Repeat password" />
        <select asp-for="Country">
            @foreach(var country in Enum.GetValues(typeof(Country)))
            {
                <option value="@country">@country</option>
            }
        </select>
        <input type="submit" value="Register" />
    </form>

    @if (!ModelState.IsValid)
    {
        <span class="text-danger" asp-validation-for="Username"></span>
        <span class="text-danger" asp-validation-for="Password"></span>
        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
        <span class="text-danger" asp-validation-for="Country"></span>
    }
        <span class="text-danger">@Model.ErrorMessage</span>
</div>
