@page "/"
@using TicketHive.Client.Services;
@using TicketHive.Server.Enums;
@using TicketHive.Shared.Enums;
@using TicketHive.Shared.Models;
@inject AuthenticationStateProvider authentication
@inject NavigationManager navigationManager
@inject IUserService userService
@inject IEventService eventService

<PageTitle>Home</PageTitle>

@if (UserName == null)
{
    <div class="credentials-page d-flex flex-column justify-items-center align-items-center" style="padding-bottom:30px;">
        <img class="theImage" src="images/logos/black.png" alt="Image-error">
        <h1>Welcome to Ticket Hive</h1>
        <h3>Only the best events on the market listed here</h3>
        <h3>Sign in to browse for your favorite happenings all over the world!</h3>

        <div class="card MainCard mt-5">
            <div class="card-body">
                <div class="row align-content-center justify-content-center text-center">
                    <div class="col">
                        <h4 class="">Part of the family:</h4>
                        <button class="btn yellow-border yellow-hover" @onclick="Login">Login</button>
                    </div>
                    <div class="col">
                        <h4>Join the movement:</h4>
                        <button class="btn blue-border blue-hover" @onclick="Register">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="credentials-page d-flex flex-column justify-items-center align-items-center">
        <img class="theImage" src="images/logos/black.png" alt="Image-error">
        <h1>Welcome!</h1>
        <h2> @UserName </h2>
    </div>

    <div>
        <div>
            <h1 class="text-center text-decoration-underline">Explore!</h1>
        </div>
        @foreach (EventModel eventModel in RandomEvents)
        {
            <div class="m-3 text-center">
                <div>
                    <h3>@eventModel.Name</h3>
                </div>

                <div>
                    <button class="TheButton rounded-1" @onclick="(() => NavigateToEvent(eventModel.Id))">More info</button>
                    <p class="text-center">__________</p>
                </div>

            </div>
        }
    </div>

    @if (SignedInUsersBookings.Count > 0)
    {
        <div>
            <div>
                <h1 class="text-center text-decoration-underline">Your events!</h1>
            </div>
            @foreach (BookingModel booking in SignedInUsersBookings)
            {
                <div class="m-3 text-center">
                    <div>
                        <h3>@booking.EventName</h3>
                    </div>
                    @if (AllEventsInDb.Any(e => e.Id == booking.EventId))
                    {
                        <div>
                            <button class="TheButton rounded-1" @onclick="(() => NavigateToEvent(booking.EventId))">More info</button>
                            <p class="text-center">__________</p>
                        </div>
                    }
                    else
                    {
                    <div>
                        <p>More info no longer available</p>
                        <p class="text-center">__________</p>
                    </div>
                    }
                </div>
            }
        </div>
    }
}

@code{
    private async Task NavigateToEvent(int eventId)
	{
		navigationManager.NavigateTo($"/allEvents/{eventId}");
	}
}
