@page "/"
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Already a member..?</p>
<button @onclick="Login">Login</button>

<p>Else, please register here:</p>
<button @onclick="Register">Register</button>