@page "/"
@inject NavigationManager navigationManager


<PageTitle>Index</PageTitle>

<div class="credentials-page d-flex flex-column justify-items-center align-items-center">
<h1>Welcome to Fantastic Rangers!</h1>
<h2> Find Your Events Here!</h2>

<h3 class="mt-5">Already a member..?</h3>
<button @onclick="Login">Login</button>

<h3>Else, please register here:</h3>
<button @onclick="Register">Register</button>

</div>