@page "/"
@using TicketHive.Client.Services;
@using TicketHive.Server.Enums;
@using TicketHive.Shared.Enums;
@using TicketHive.Shared.Models;
@inject AuthenticationStateProvider authentication
@inject NavigationManager navigationManager
@inject IUserService userService
@inject IEventService eventService



<PageTitle>Home</PageTitle>


@if (UserName == null)
{
    <div class="credentials-page d-flex flex-column justify-items-center align-items-center" style="padding-bottom:30px;">
        <img class="theImage" src="images/logos/black.png" alt="Image-error">
        <h1>Welcome to Fantastic Rangers!</h1>
        <h2> Find Your Events Here!</h2>

        <h3 class="mt-5">Already a member..?</h3>
        <button @onclick="Login">Login</button>

        <h3>Else, please register here:</h3>
        <button @onclick="Register">Register</button>

    </div>
}
else
{
    <div class="credentials-page d-flex flex-column justify-items-center align-items-center">
        <img class="theImage" src="images/logos/black.png" alt="Image-error">
        <h1>Welcome!</h1>
        <h2> @UserName </h2>
        <h2> @SignedInUsersId</h2>

        <p class="text-danger">Show my booked events...</p>
    </div>
}

