@page "/allevents"
@using Newtonsoft.Json;
@using System.Diagnostics;
@using TicketHive.Client.Services;
@using TicketHive.Server.Enums;
@using TicketHive.Shared.Enums;
@using TicketHive.Shared.Models;
@inject IEventService eventService;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager navigationManager;
@inject ILocalStorageService localStorage;


<AuthorizeView>
    <Authorized>
        <div class="TheBigContainer d-flex flex-column justify-content-center align-items-center">

            <div class="d-flex flex-row justify-content-center align-items-center">


                <div class="d-flex flex-row justify-content-end p-3 mt-4">
                    <button class="rounded-2" style="background-color:#fbe89c" @onclick="FilterOrderByPrice">OrderBy price </button>
                    <button class="rounded-2" style="background-color:#fbe89c" @onclick="FilterOrderByDate">OrderBy Date </button>

                </div>

                @*this filter Whether ur search on name,location and event*@
                <div class="d-flex flex-column justify-content-center align-items-center mb-5">
                    <p>Search Event</p>
                    <p>Press Enter</p>
                    <input type="text" @oninput="@((ChangeEventArgs e) => FilterList(e.Value.ToString()))" />
                </div>

            </div>
           






            <div class="AllCards d-flex flex-wrap row-cols-5 overflow-scroll justify-content-center scrollable-div" style="height: 600px; overflow: scroll; scroll-behavior: smooth;">


                @if(filteredEvents != null && filteredEvents.Any())
                {
                    @foreach(var card in filteredEvents)
                    {
                        <div class="test d-flex flex-column flex-wrap  mx-5 mb-5 justify-content-center align-items-center rounded-2" style="background-image: url('https://localhost:7259/images/event%20images/@card.ImageUrl');">
                            <div class="d-flex flex-wrap align-items-center justify-content-center">
                                <h1 class="CardTitle-name text-wrap">@card.Name</h1>


                            </div>
                            <div class="EventCard d-flex flex-column border-2 justify-content-center align-content-end">
                                <button class="TheButton rounded-1" @onclick="(() => NavigateToEvent(card.Id))">More info</button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h1>No events found...</h1>
                }               


            </div>


        </div>
    </Authorized>
    <NotAuthorized>
        <div class="NoAccsess d-flex flex-column justify-content-center align-items-center">

            <h1 class="mb-5">You must be logged in to view events.</h1>
            <img src="https://media4.giphy.com/media/lvQe7YwEEJoaIluvs6/giphy.gif?cid=ecf05e47mnfmryod2c45btbyf02kua8tluxbdt1j8kyj3jui&rid=giphy.gif&ct=g" />

        </div>
    </NotAuthorized>
</AuthorizeView>




















@code {
    private async Task NavigateToEvent(int eventId)
    {

        navigationManager.NavigateTo($"/allEvents/{eventId}");
    }

    private EventType eventType = EventType.EventType;
    private Country countries { get; set; }
    private List<EventModel> allEvents = new();
    private List<EventModel> filteredEvents = new();

    private void FilterList(string searchTerm)
    {

        if (string.IsNullOrEmpty(searchTerm))
        {
            filteredEvents = allEvents;
        }
        else
        {
            filteredEvents = allEvents.Where(e => e.Name.ToLower().Contains(searchTerm.ToLower())
                        || e.EventType.ToString().ToLower().Contains(searchTerm.ToLower())
                        || e.Location.ToLower().Contains(searchTerm.ToLower())
                        || e.Price.ToString().Contains(searchTerm.ToLower())).ToList();
        }


    }

    private void FilterOrderByPrice()
    {
        filteredEvents = allEvents.
        OrderByDescending(e => e.Price).ToList();
    }
    private void FilterOrderByDate()
    {
        filteredEvents = allEvents.
        OrderByDescending(e => e.StartTime).ToList();
    }


    protected override async Task OnInitializedAsync()
    {
        allEvents = await eventService.GetEventsAsync();
        filteredEvents = allEvents;
        
    }

}