@page "/AllEvents/{id:int}"

@using Blazored.LocalStorage;
@using Newtonsoft.Json;
@using TicketHive.Client.Services;
@using TicketHive.Shared.Models;
@inject IEventService eventService;
@inject ILocalStorageService localStorage;
@inject NavigationManager navigationManager;




<div class="headbanner d-flex rounded-2 flex-column justify-content-center align-items-center" style="background-image: url('https://localhost:7259/images/event%20images/@EventToDisplay.ImageUrl');">
    <h1 class="model-title"> @EventToDisplay.Name</h1>
    <div class="overlay d-flex flex-column justify-content-center align-items-center">
        <p>@EventToDisplay.Description</p>
        <h3>@EventToDisplay.StartTime</h3>
        <p>@EventToDisplay.Price (Insert currency)</p>

        @*Check if tickets are available else make button not function *@
        @if (EventToDisplay.NumberOfTickets >= 1)
        {
            @*TODO: add current event to CartList with OnClick Method *@
            <label for="num_tickets">Select the number of tickets:</label>
            <input type="number" id="num_tickets" name="num_tickets" @bind-value="DesiredNoOfTickets" min="1" max="6">

            @if (DesiredNoOfTickets <= 0 || DesiredNoOfTickets >= 7 || DesiredNoOfTickets > EventToDisplay.NumberOfTickets)
            {
                <button class="rounded-2 btn-danger disabled my-2" onclick="AddToCart"> Add to Cart </button>

            }else
            {
                <button class="rounded-2 btn-success my-2" @onclick="() => AddToCart(EventToDisplay)"> Add to Cart </button>
            }
        }
        else
        {
            <button class="rounded-2 btn-danger disabled"> Event sold out! </button>

        }
    </div>
</div>













